{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}


    <div class="container">
        <h2 class="title" id="headers">הוספת פנייה</h2>
        <br>
        <br>
        <br>
        <form action="" class="formClass form-group" method="POST" >
            {% csrf_token %}
            <div class="addcomplainpage">
            <div>
                <label class="complainlable">פירוט הפנייה:</label>
            </div>
            <div class="mb-3">
                {{form.text}}
            </div>
            <div class="mb-3">
                <label class="complainlable">הפונה:</label>
                {{ form.user }}
            </div>
             <div class="mb-3">
                <label class="complainlable">תאריך:</label>
                {{ form.date }}
            </div>
                 <button type="submit" class="btn btn-primary">הוסף</button>
            </div>
        </form>
    </div>
</body>
</html>
    {% endblock %}