{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}

<title>דף הודעות</title>

<div class="container">
  <h2 class ="title" id="headers">דף הודעות</h2>

    <table class="table table-center">

        <tr class="table-info" >
          <th  scope="col">תאריך</th>
          <th  scope="col">הודעה</th>
        </tr>
                {% for message in messages%}
                <tr>
                    <td>
                        {{message.created_at}}
                    </td>
                    <td>
                        {{message.message}}
                    </td>
                </tr>
            {% endfor %}
    </table>
</div>




</body>
</html>
{% endblock %}