
{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}

<title>דף קשר</title>

<div class="container">
  <h2 class ="title" id="headers">דף קשר</h2>

    <table class="table table-center">

        <tr class="table-info" >
          <th  scope="col">שם פרטי</th>
          <th  scope="col">שם משפחה</th>
          <th  scope="col">שם ההורה</th>
          <th  scope="col">נייד</th>
          <th></th>
        </tr>
                {% for item in contact%}
                <tr>
                    <td>
                        {{item.child.name}}
                    </td>
                    <td>
                        {{item.child.lastname}}
                    </td>
                    <td>
                        {{item.parentname}}
                    </td>
                    <td>
                        {{item.phone}}
                    </td>
                </tr>
            {% endfor %}
    </table>
</div>




</body>
</html>
{% endblock %}