{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}

<title>דף הבית-גננת</title>
<div>
    <h2 class ="title" id="headers">דף בית גננת</h2>
</div>

    <div class="editgamesbutton">
        <a class="btn btn-outline-warning" href="/gManageGames">עריכת משחקים</a>
        <a class="btn btn-outline-primary" href="/reports">הפקת דוחות</a>
        <a class="btn btn-outline-primary" href="/gBidudim">דף בידודים</a>
        <a class="btn btn-outline-dark" href="/create_capsules">קפסולות</a>
        <a class="btn btn-outline-info" href="/contact_page">דף קשר</a>
        <a class="btn btn-outline-secondary" href="/messages_to_parents">שליחת הודעות</a>
        <a class="btn btn-outline-warning" href="/g_add_complain">פניות למפקחת</a>
        <a class="btn btn-outline-dark" href="/stars">כוכב השבוע</a>
    </div>

<div class="box">
    <h3 id="sub-header">לוח הודעות</h3>
    <br><br>
    <ul>
        {% for msg in messages %}
        <li style="text-align: right;">{{msg.message}}</li>
        {% endfor %}
    </ul>
</div>



{% endblock %}