{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}

<title>דף הבית-גננת</title>
<div>
    <h2 class ="title" id="headers">דף בית גננת</h2>
</div>

    <div class="editgamesbutton">
        <a class="btn btn-outline-warning" href="/gManageGames">עריכת משחקים</a>
        <a class="btn btn-outline-primary" href="/reports">הפקת דוחות</a>
        <a class="btn btn-outline-primary" href="/gBidudim">דף בידודים</a>
        <a class="btn btn-outline-dark" href="/create_capsules">קפסולות</a>
        <a class="btn btn-outline-info" href="">דף קשר</a>
    </div>




{% endblock %}