{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}

<title>דף בידודים</title>

<div class="container">
    <div>
        <h2 class="headers">דף בידודים</h2>
    </div>
         <table class="table table-center">
        <tr class="table-info">
            <th scope="col">שם</th>
            <th scope="col">שם משפחה</th>
            <th scope="col">האם חולה</th>
            <th scope="col">האם בבידוד</th>
        </tr>
        {% for child in users %}
                <tr>
                    <td>
                        {{child.name}}
                    </td>
                    <td>
                        {{child.lastname}}
                    </td>
                    <td>
                        {% if child.covid == true %}
                        חולה
                        {% else %}
                        בריא
                        {% endif %}
                    </td>
                    <td>
                        מבודד


                    </td>
                </tr>
             {% endfor %}

    </table>
</div>





{% endblock %}