
{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}

<title>המשימות שלי</title>

<div class="container">
  <h2 class ="title" id="headers">המשימות שלי</h2>

    <table class="table table-center">

        <tr class="table-info" >
          <th  scope="col">המשימה</th>
          <th  scope="col">בוצע/לא בוצע</th>
          <th></th>
        </tr>
        {% for item in missions%}
            {% if item.gannet.name == user.gan.name %}
                <tr>
                    <td>
                        {{item.text}}
                    </td>
                    <td>
                        {% if item.done%} בוצע
                        {% else %}לא בוצע
                        {% endif %}
                    </td>
                    <td>
                         <a class="btn btn-primary" href="{% url 'get_mission_done' item.id %}" role="button">ביצעתי!</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>


{% endblock %}