{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}
<div class="container">

    <form class = "form-group" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-secondary btn-sm">הודעה חדשה</button>
    </form>
    <table class="table table-center">
            <tr class="table-info" >
              <th  scope="col">הודעה</th>
                <th  scope="col">גן</th>
                <th  scope="col">תאריך</th>
            </tr>
            {% for message in messages%}
                    <tr>
                        <td>
                            {{ message.message }}
                        </td>
                                        <td>
                            {{ message.gan.name }}
                        </td>
                                        <td>
                            {{ message.created_at }}
                        </td>

                    </tr>
                {% endfor %}
        </table>
</div>
{% endblock %}
