{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static '/CSS/someInThePictureStyle.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static '/JS/someInThePictureGame.js' %}"></script>


<title>כמה בתמונה</title>

<div class="container">
  <h2 class ="title" id="headers">כמה בתמונה - המשחק</h2>
</div>
<div class="card-container" id="{{ randobject.id }}" dataframwork="{{ randobject.id }}">
        <img class="" src="{{randobject.image.url}}">
</div>

<audio src="{{randobject.audio.url}}" id="start-game-audion" autoplay="autoplay"></audio>








{% endblock %}