{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}



    <div class="container">
        <div style="float: right" class="flex">
    <h1> כוכב השבוע צריך להיות:<span>{{  star.name}}</span> </h1>

        <a data-frame="{{ star.id }}" class="btn btn-success select_star">בחר את {{  star.name}}  ככוכב</a>
    </div>
        <table id='' class="table table-center">
<thead>
            <tr class="table-info">
                <th scope="col">שם הילד</th>
                <th scope="col">תאריך כוכב</th>
                </thead>
            </tr>
        <tbody>
            {% for s in stars %}
                <tr>
                    <td>
                        {{ s.user.name }}
                    </td>
                    <td>
                        {{ s.created_at }}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}