{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static '/CSS/childhome.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static '/JS/script.js' %}"></script>
<title>בחירת תת קטוגריית לימוד</title>
<div>

</div>




{% endblock %} 