{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static '/CSS/childhome.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static '/JS/script.js' %}"></script>
<title>בחירת תת קטוגריית לימוד</title>
<div>

</div>

<div class="container d-flex justify-content-center">
  <div class="card-deck">
    {% for subsubject in SubSubjects %}
  <div class="card-transparent">
    <img class="img-thumbnail" src="{{ subsubject.image.url }}" style="width: 300px;height: 300px;" alt="Card image cap">
    <div class="card-body">
     <a id="{{ subsubject.id }}" href="{%url 'pickgame' subsubject.id%}"><h2 class="card-title" id="categoryname">{{subsubject.name}}</h2></a>

    </div>

</div>
      <div style="display: none;">
               <audio id="audio-{{ subsubject.id }}" controls>
                   <source src="{{ subsubject.audio.url }}" type="audio/mp3">
                </audio>
      </div>
        {% endfor %}
</div>
</div>


{% endblock %} 