{% extends 'atlasapp/home.html' %}
{% load static %}
{% block content %}
{% load SupervisorHome %}
<script src="{% static '/JS/script.js' %}"></script>
<link href="{% static '/CSS/supervisorHome.css' %}" rel="stylesheet">
<title>דף הבית-מפקחת</title>
<div>
    <h2 class ="title" id="headers">דף בית מפקחת</h2>
</div>

<div class="missionsboard">

    <table class="table table-center">
        <tr class="table-info" >
            <a class="icons" href="{% url 'manageMissions' %}"><i class="fa fa-pencil" style="color:#bbbbbb"></i></a>
          <th class="thmission" scope="col">משימות</th>
        </tr>
        {% for item in missions%}
                <tr>
                    {% if item.done%}
                        <td class="donemission">
                        <li class="limission">{{item.text}}</li>
                        </td>
                    {% else %}
                        <td class="notdonemission">
                        <li class="limission">{{item.text}}</li>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
    </table>
</div>

<div class="container">
    <table class="table table-right table-sm" id="gananotdata">
        <thead>
        <tr class="table-info">
            <th scope="col">שם הגן</th>
            <th scope="col">מספר צעדים</th>
        </tr>
        </thead>
        <tbody>
        {% for gannet in gananot %}
                <tr>
                    <td>
                        {{gannet.gan.name}}
                    </td>
                    <td>
                        {{gannet.gan | avgSteps}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}