.welcome {
   float: right;
   padding-right: 30px;
   padding-top: 20px;
   font-family: 'Rubik', sans-serif;
}

.myback {
 background-color: #F00;
 background:red;
}


.missionsboard{
    float: right;
   padding-top: 60px;
}
.limission{
    float: right;
}
.thmission{
        float: right;

}

.donemission:hover{
    background: #c8eed9;
}


.notdonemission:hover{
    background: #f39189;
}

#editicon{
    float: left;
}

#plusicon{
   resize: none;
}

.fa-plus{
   padding-left: 11px;
   padding-top: 40px;
}

#headers{
   padding-right: 30px;
   padding-top: 20px;
   float: right;
   font-family: 'Rubik', sans-serif;
}

.addmissionpage{
    float: right;
}

.missionlable{
    float: right;
}

